{% extends "TemplateListObject.html" %}
{% block title %}
<h3 align="center">{{ title_page }}</h3>
{% endblock title %}
{% block content %}
<body style="background: {{ color }}">
<p><a href="{% url 'detail_task' board_pk task_pk %}">back</a></p>
<form method="post" action="{% url 'replace_task' board_pk task_pk %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ replace_task_form.as_p }}
    <input type="submit" name="replace" value="replace">
    <input type="submit" name="copy" value="copy">
</form>
</body>
{% endblock content %}