{% extends "Base.html" %}
{% block title %}
<h2 align="center">Searched by tag: {{ tag }}</h2>
{% endblock title %}
{% block content %}
<body>
<p><a href="{% url 'main-page' %}">back</a></p>
{% for board,task_list in board_list %}
{% for task in task_list %}
    {% if user.is_staff %}
    <p>Task: <a href="{% url 'detail_task' board.id task.id %}">{{ task.description }}
        (from board: {{ board.title }}, creator={{ board.user_creator.name }})</a></p>
    <p>Status: {{ task.task_status }}</p><br>
    {% else %}
    <p>Task: <a href="{% url 'detail_task' board.id task.id %}">{{ task.description }}
        (from board: {{ board.title }})</a></p>
    <p>Status: {{ task.task_status }}</p><br>
    {% endif %}
{% endfor %}
{% endfor %}
</body>
{% endblock content %}